@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@100;400&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: #e30037;
  font-family: "Times New Roman", Times, serif;
  color: white;
}

.container {
  font-size: 25px;
  padding-left: 25px;
  display: flex;
  align-items: center;
}

header .tela-inicial {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}

.icone {
  font-size: 28px;
  font-family: "Montserrat";
}

.tela-inicial .container {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 42px;
  color: #ffff;
  position: absolute;
  width: 600px;
  height: 254px;
  left: 144px;
  top: 290px;
}

.item {
  width: calc(100% - 160px);
  padding: 20px 80px 0 80px;
}

.my-container {
  width: calc(100% - 164px);
  position: relative;
  padding: 48px;
}

.custom-arrow {
  position: absolute;
  top: 50%;
  margin-top: -15px;
}

.custom-left-arrow {
  left: 0;
}

.custom-right-arrow {
  right: 0;
}

.fooBar {
  max-width: 696px;
}

.texto {
  font-size: 28px;
  font-weight: 60;
}

.texto-fundo {
  padding-top: 143px;
  padding-bottom: 48px;
  padding-left: 48px;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
}

.texto-final {
  font-weight: 300;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  width: 19vw;
  padding-left: 48px;
  flex-direction: row;
}

.sessaoUm {
  height: 100vh;
}

.sessao-dois {
  height: 100vh;
  background: white;
  display: flex;
  flex-direction: column;
}

.sessao-tres {
  height: 100vh;
  background: #1e1e1e;
}

.alinhamento {
  display: flex;
  flex-direction: row;
}

.full-cumprimento {
  width: 50vw;
  display: flex;
  height: 50vh;
  position: relative;
  /* cursor: pointer; */
}

.full-cumprimento img {
  width: 100%;
  height: 50vh;
}

.half-cumprimento {
  width: 50vw;
  display: flex;
  height: 50vh;
}

.half-cumprimento img {
  width: 50%;
  height: 50vh;
}

.teste {
  position: absolute;
  top: 0;
  left: 0;
  /*cor apenas para exmplo*/
  color: #fff;
}

.botao {
  background-color: #1e1e1e;
  border: 1px solid #ffffff;
  color: white;
  padding: 10px 100px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.posicao {
  align-items: center;
  position: relative;
  padding-left: 40%;
  box-sizing: border-box;
  flex-direction: row;
}

.d-none > div {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.d-none:hover > div {
  display: block;
  opacity: 0.3;
}

.d-none > p {
  display: none;
  position: absolute;
  bottom: 0;
  left: 20px;
  color: white;
}

.d-none:hover > p {
  display: block;
}

.bg-black {
  background-color: black;
}

#fade {
  position: absolute;
  top: 0;
  display: none;
  height: 300%;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
  /* border: 1px solid red; */
}
#ctnModal {
  position: absolute;
  width: 408px;
  height: 374px;
  top: 1590px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#fecharModal {
  display: flex;
  justify-content: flex-end;
  padding: 7px;
}
#close {
  cursor: pointer;
}
#tituloModal {
  display: flex;
  justify-content: center;
  padding: 7px;
  color: #666;
  font-size: 108px;
  border: 1px solid green;
}
.form-modal{
  display: block;
  flex-wrap: wrap;
  /* padding: 50px; */
  padding-top: 50%;
  border: 1px solid red;
  justify-content: space-between;
}
form input[name="cpfCnpj"] {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 10px;
}

form input[name="email"] {
  padding: 10px 10px;
}
form div input[name="submit"] {
  padding: 4 20px;
  background: white;
  border: 1px #aaa solid;
}

.botao-box {
  background-color: #1e1e1e;
  border: 1px solid #ffffff;
  color: red;
  width: 376px;
  height: 48px;
  left: 495px;
  top: 479px;
  font-family: "Roboto", sans-serif;
}
